---
title: Experiments
weight: 109
last_reviewed_on: 2024-12-10
review_in: 2 months
---

# Experiments

Some experiments to see how we can evolve and customise the tech docs. This can be done at a number of levels.

## 1. Middleman

The content is generated using [Middleman](https://middlemanapp.com/basics/install/)

- [frontmatter](https://middlemanapp.com/basics/frontmatter)
- ERB templating
- https://middlemanapp.com/basics/helper-methods/
- https://middlemanapp.com/basics/layouts/
- https://middlemanapp.com/basics/partials/
- https://middlemanapp.com/basics/redirects/
- https://middlemanapp.com/advanced/data-files/
- https://middlemanapp.com/advanced/sitemap/

## 2. Tech docs template

Middleman is extended with the [Tech Docs Template](https://github.com/alphagov/tech-docs-template)


## 3. GOV.UK Design System

The Tech Docs Template uses the [GOV.UK Design System](https://design-system.service.gov.uk/)


## 4. GOV.UK Frontend

## 5. Markdown 

## 6. HTML

<div style="display: inline-block; width: 30px; height: 30px; border-radius: 50%; background-color: #000; color: #fff; text-align: center; line-height: 30px; font-size: 16px; font-weight: bold;">1</div>

<div style="display: inline-block; width: 30px; height: 30px; border-radius: 50%; background-color: #000; color: #fff; text-align: center; line-height: 30px; font-size: 16px; font-weight: bold;">2</div>

<div style="display: inline-block; width: 30px; height: 30px; border-radius: 50%; background-color: #000; color: #fff; text-align: center; line-height: 30px; font-size: 16px; font-weight: bold;">3</div>

## 7. CSS

## 8. Javascript

## 9. Docker

## 10. GitHub Actions
GitHub

## 11. GitHub Codespaces
Cloud based development environment.

## 12. Netlify
Hosting platform with free plan for static content hosting.


<%= partial "partials/links" %>
